<h1>common reference web API</h1>
<ul>
    {{#each data}}
        {{#each info}}
            <li>
                <b>{{method}}</b>
                <u>{{../route}}</u> - {{purpose}}<br>
            </li>
        {{/each}}
    {{/each}}
</ul>
